/* SchedulePage.css */
.custom-table th, .custom-table td {
  vertical-align: middle;
  text-align: center;
}

.custom-table th {
  background-color: #002855;
  color: #fff;
  font-weight: bold;
}

.custom-table td {
  background-color: #f8f9fa;
}

.custom-table td button {
  width: 100px;
  padding: 5px;
  font-size: 14px;
}

.custom-table td {
  padding: 12px 8px;
}

/* Center the Actions column */
.custom-table td:last-child {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.custom-navbar {
  margin-bottom: 20px;
}

.custom-modal .modal-header {
  background-color: #002855;
  color: #fff;
}

.custom-modal .modal-footer {
  justify-content: flex-end;
}
